<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  {% include meta.html %}

  <title>{{ page.title }}</title>

  {% include fonts.html %}
  {% include responsive.html %}
  {% include styles.html %}
  {% include bootstrap.html %}
  {% include favicon.html %}
  {% include ga.html %}
</head>

<body>
  <a name="top"></a>

  <!-- Header -->
  <header id="header-container">

    <!-- Different Languages -->
    <nav class="nav justify-content-center">
      <a class="badge badge-light" href="/tw" title="Taiwan International">中文繁體字</a>
      <span class="badge badge-light">|</span>
      <a class="badge badge-light" href="/cn" title="China International">中文簡化字</a>
    </nav>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <img src="/static/cjguidance/themes/acquai_slate/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="A Chinese-English dictionary created for beginners">
        QianLong 973
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/" title="Homepage">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/en/company.html" title="The Company">About</a>
          <!-- <a class="nav-item nav-link" href="/en/presentations.html" title="List of Presentations">New Searching Method</a> -->
          <!-- <a class="nav-item nav-link" href="/en/special-topics.html" title="List of Presentations">Special Topics</a> -->
          <a class="nav-item nav-link" href="/en/library.html" title="Library of Written Books">Published Works</a>
          <a class="nav-item nav-link" href="/en/contact.html" title="Contact Us">Contact</a>
          <a class="nav-link disabled" href="#" title="Last update"><small>v20211117.0.37</small></a>
        </div>
      </div>
    </nav>

  </header>

  <!-- Body Content -->
  {{ content }}

  <!-- Footer -->
  <footer id="footer-container" class="bg-light">

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <p class="text-center"><small>
            QianLong 973, Inc. is a Maryland S Corporation
            <br>
            Founded by Por-Sen Jaw and Yin-Ping Chao in 2007
            <br>
            Copyright © 2021
          </small></p>
      </div>
    </div>

  </footer>

</body>

</html>
